<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Primary Meta Tags -->
		<title><%- SITE_NAME %></title>
		<meta name="title" content="<%- SITE_NAME %>" />
		<meta name="description" content="<%- SITE_DESCRIPTION %>" />

		<link rel="manifest" href="/public/site.webmanifest" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%- SITE_URL %>" />
		<meta property="og:title" content="<%- SITE_NAME %>" />
		<meta property="og:description" content="<%- SITE_DESCRIPTION %>" />
		<meta property="og:image" content="/public/social.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="<%- SITE_URL %>" />
		<meta property="twitter:title" content="<%- SITE_NAME %>" />
		<meta property="twitter:description" content="<%- SITE_DESCRIPTION %>" />
		<meta property="twitter:image" content="/public/social-image.jpg" />

		<!-- Favicon -->
		<!--	TODO:	<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />	-->
		<link rel="alternate icon" type="image/png" href="/public/favicon.ico" />

		<!-- Stylesheet -->
		<link rel="stylesheet" href="/index.css" />
	</head>
	<body>
		<!-- Root element for React application -->
		<div id="root"></div>

		<!-- Noscript fallback for browsers with JavaScript disabled -->
		<noscript>
			<div style="text-align: center; padding: 20px">
				<p>You need to enable JavaScript to run this application.</p>
			</div>
		</noscript>

		<!-- Main React bundle -->
		<script type="module" src="/src/index.js"></script>
	</body>
</html>
